
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    height: 80%;
    margin-top: 100vh;
}

.contact > a > img {
    height: 80px;
    margin-top: 50px;
}