* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: black;
    color: white;
}

.wrapper {
    height: fit-content;
    position: relative;
}

.section-01 {
    height: 280vh;
    background-color: black;
}

.portfolio {
    height: 100%;
}

.section-02 {
    height: 80vh;
    background-color: rgb(97, 57, 57);
}

.contact {
    height: 100%;
}