
  /* parallax "viewport" */
  .parallax {
    height: 99vh;
    background-color: black;
    /* border: 5px solid red; */
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    justify-content: center;
    perspective: 10px;
    position: relative;
  }
  
  .parallax-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .bg-01 {
    transform: translateZ(-3px) scale(2);
  }
  
  .bg-02 {
    transform: translateZ(-7.5px) scale(2);
  }
  
  .fg-01 {
    transform: translateZ(-8px) scale(2);
  }
  
  .fg-02 {
    transform: translateZ(-10px) scale(2);
  }
  
  .focus {
    transform: translateZ(-10.5px) scale(2.1);
  }

  .title {
    transform: translateZ(-50px) scale(10) translateY(5.5vh);

  }

  .intro, .outro {
    transform: translateZ(-3px) scale(2);
  }

  .parallax-layer.bg-01{
    top: 15rem;
    background-image: url(../assets/images/sky-bg.png);
    background-size: cover;
    position: absolute;
    height: 150vh;
    width: 100%;
    z-index: -1;
  }
  
  .parallax-layer.bg-02 {
    top: 10rem;
    background-image: url(../assets/images/valley-bg.png);
    background-size: cover;
    position: absolute;
    height: 150vh;
    width: 100%;
    z-index: -1;
  }
  
  .parallax-layer.fg-01 {
    top: 10rem;
    background-image: url(../assets/images/valley-fg.png);
    background-size: cover;
    position: absolute;
    height: 150vh;
    width: 100%;
    z-index: -1;
  }
  
  .parallax-layer.fg-02 {
    top: 10rem;
    background-image: url(../assets/images/field-fg.png);
    background-size: cover;
    position: absolute;
    height: 150vh;
    width: 100%;
    z-index: -1;
  }

  .parallax-layer.focus {
    top: 10rem;
    background-image: url(../assets/images/totem.png);
    background-size: cover;
    position: absolute;
    height: 150vh;
    width: 100%;
    z-index: -1;
  }

  .parallax > .title {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    height: 50vh;
  }

  .parallax > .outro > .outro-bg {
    /* border: 5px solid red; */
    position: absolute;
    top: -10vh;
    height: 30vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    filter: blur(25px);
    z-index:0;

  }
  .parallax > .outro {
    top: 260vh;
    /* border: 5px solid red; */
    position: absolute;
    display: flex;
    justify-content: center;
    height: 30vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(2.5px);
    z-index:0;
  }