
.porto {
    position: relative;
    margin: 50px 0;

}

.porto > img {
    width: 40vw;
    height: 25vw;
    object-fit: cover;
    position: relative;
}

.porto > .port-img-02 {
    left: 60vw;
}

.porto > .port-img-04 {
    left: 60vw;
}

.porto > div {
    width: 550px;
    z-index: 2;
    background-color: black;
    position: absolute;
    padding: 1rem;
}

.porto > div:hover {
    background: linear-gradient(106deg, rgba(255,255,255,1) 0%, rgba(255,211,255,1) 40%, rgba(255,255,255,1) 67%, rgba(243,206,251,1) 91%, rgba(230,155,246,1) 97%);
    color: var(--focus-color);
}

.porto > .port-text {
    top: 7vw;
    left: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}



