@font-face {
    font-family: alien;
    src: url(../assets/fonts/tt-alientz-trial-var.ttf);
}

@font-face {
    font-family: alienSerif;
    src: url(../assets/fonts/tt-alientz-trial-serif.otf);
}

@font-face {
    font-family: stretchPro;
    src: url(../assets/fonts/StretchPro.otf);
}

@font-face {
    font-family: ubuntuMono;
    src: url(../assets/fonts/UbuntuMono-Regular.ttf);
}

@font-face {
    font-family: ubuntuLight;
    src: url(../assets/fonts/Ubuntu-Light.ttf);
}



.title {
    text-shadow: 0 0 10px black;
}

.about {
    font-weight: 400;
    width: 46%;
    padding: 0 auto;
    z-index: 2;
}

span {
    font-family: ubuntuMono;
    text-align: justify;
    text-justify: inter-character;
    font-size: 1rem;
    line-height: 1.75rem;
}

div {
    font-size: 1.5rem;
    font-family: ubuntuLight;
    font-weight: 100;
    line-height: 3.5rem;
    
}

h1 {
    font-family: stretchPro;
    text-transform: uppercase;
    font-size: 5rem; 
}

h2 {
    font-family: stretchPro;
    text-transform: uppercase;
    font-size: 1.98rem;
}

h3 {
    font-family: alienSerif;
    font-size: 1.5rem;
    text-transform: uppercase;
}
